{% extends 'base.html.twig' %}

{% block title %}Calendari Disponibilitat - App{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('calendarAvailability') }}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <!-- Top Navbar -->
        {{ include('menu/topNavBar.html.twig') }}
        <!-- /.topNavbar -->

        <!-- Side Navbar -->
        {{ include('menu/sideNavBar.html.twig', {'employee': employee, 'sideNavBar_active': 'calendarAvailability'}) }}
        <!-- /.sideNavbar -->

        <!-- Content Wrapper -->
        {# EN AQUEST DIV VA EL CONTINGUT #}
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"> Calendari de disponibilitat </h1>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="sticky-top mb-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Draggable Events</h4>
                                    </div>
                                    <div class="card-body">
                                        <!-- the events -->
                                        <div id='external-events'>
                                            <p>
                                                <strong>Selecciona i arrastra la teva disponibilitat</strong>
                                            </p>
                                            <div class='fc-event mb-2'>Disponibilitat</div>
                                            <div class='fc-event mb-2'>Disponibilitat</div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->

                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-9">
                            <div id='calendar'></div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        {{ include('footers/footerDashboard.html.twig') }}
    </div>
    <!-- ./wrapper -->
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('calendarAvailability') }}
{% endblock %}