{% extends 'base.html.twig' %}

{% block title %}Operatives - App{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('operations') }}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <!-- Top Navbar -->
        {{ include('menu/topNavBar.html.twig') }}
        <!-- /.topNavbar -->

        <!-- Side Navbar -->
        {{ include('menu/sideNavBar.html.twig', {'employee': employee, 'sideNavBar_active': 'operations'}) }}
        <!-- /.sideNavbar -->

        <!-- Content Wrapper -->
        <div class="content-wrapper">
            {# EN AQUEST SECTION VA EL CONTINGUT DEL HEADER #}
            <section class="content-header">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark"> Operatives Assignades </h1>
                            </div>
                            <div class="col-sm-6"></div>
                        </div>
                    </div>
                </div>
                <!-- /.content-header -->
            </section>

            {# EN AQUEST SECTION VA EL CONTINGUT DEL CONTAINER PRINCIPAL #}
            {# TODO
            TRANSLATE TABLE CONTENT https://datatables.net/examples/basic_init/language.html #}
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Llistat d'Operatives</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="operationsList" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Codi</th>
                                            <th>Titol</th>
                                            <th>Data d'inici</th>
                                            <th>Estat</th>
                                            <th>Detalls</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for relation in employee.employeeHasOperations %}
                                            <tr>
                                                <td>{{ relation.operation.code }}</td>
                                                <td>{{ relation.operation.title }}</td>
                                                <td>{{ relation.operation.dateStart|date("d/m/Y") }}</td>
                                                <td>
                                                    {% if relation.status == 'confirmed' %}
                                                        Assignada
                                                    {% elseif relation.status == 'reserved' %}
                                                        Reservada
                                                    {% else %}
                                                        Disponible
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <button type="button" data="{{ relation.operation.code }}" id="btn-{{ relation.operation.code }}" class="btn btn-primary"> Detalls </button>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->

                {% for  relation in employee.employeeHasOperations %}
                    {{ include('/modals/operationDetail.html.twig', {'relation': relation}) }}
                {% endfor %}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        {% block javascripts %}
            {{ encore_entry_script_tags('operations') }}
        {% endblock %}

        <!-- Main Footer -->
        {{ include('footers/footerDashboard.html.twig') }}
    </div>
    <!-- ./wrapper -->
{% endblock %}