{% extends 'base.html.twig' %}

{% block title %}Configuració - App{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('settings') }}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <!-- Top Navbar -->
        {{ include('menu/topNavBar.html.twig') }}
        <!-- /.topNavbar -->

        <!-- Side Navbar -->
        {{ include('menu/sideNavBar.html.twig', {'employee': employee, 'sideNavBar_active': 'settings'}) }}
        <!-- /.sideNavbar -->

        <!-- Content Wrapper -->
        {# EN AQUEST DIV VA EL CONTINGUT #}
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"> Configuració </h1>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->
            <div class="content">
                <div class="container-fluid">
                    <!-- Modal Edit Profile -->
                    {{ include('modals/changePassword.html.twig') }}
                    <!-- /.edit_profileModal -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-outline card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Configuració general</h3>
                                    <div class="card-tools">
                                        <!-- This will cause the card to maximize when clicked -->
                                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i
                                                    class="fas fa-expand"></i></button>
                                        <!-- This will cause the card to collapse when clicked -->
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                    class="fas fa-minus"></i></button>
                                    </div>
                                    <!-- /.card-tools -->
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="card-body">
                                        <div class="container-fluid">
                                            <div class="row mb-4">
                                                <div class="col-lg-6">
                                                    <h5>Cambia la teva contrasenya</h5>
                                                </div>
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-3">
                                                    <button id="changePassword" type="button" class="btn btn-block btn-outline-warning btn-lg" data-toggle="modal" data-target="#changePasswordModal">Cambiar</button>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-lg-6">
                                                    <h5>Descarrega les teves dades <span class="right badge badge-danger ml-1">PRO</span></h5>
                                                </div>
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-3">
                                                    <button id="downloadData" type="button" class="btn btn-block btn-outline-success btn-lg">Descarregar</button>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-lg-6">
                                                    <h5>Elimina el meu compte <span class="right badge badge-danger ml-1">PRO</span></h5>
                                                </div>
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-3">
                                                    <button id="deleteAccount" type="button" class="btn btn-block btn-outline-danger btn-lg">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        {{ include('modals/changePassword.html.twig', {'employee': employee}) }}
                    </div>

                </div>
            </div>

        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        {{ include('footers/footerDashboard.html.twig') }}

    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('settings') }}
{% endblock %}